.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.mat-mini-fab.mat-accent{
	background-color:#4678A5;
}

.file-name{
	font-size:12px;
	color:#4678A5;
	margin-left:10px;
}

button{
	margin-top:20px;
}
.title{
	width:50vw;
}