<div class="title">
	Ajouter un document
</div>
<form #postForm=ngForm class="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="text" name="title"  id="inputTitle" placeholder="Titre" [(ngModel)]="form.title" required>
  </mat-form-field>


  <mat-form-field *ngIf="!addCollege">
    <mat-select  (selectionChange)="onCollegeChange($event)" placeholder="Université/Ecole" name="college" [(ngModel)]="form.college" required>
      <mat-option *ngFor="let college of colleges" [value]="college" > {{ college.name }} </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field *ngIf="addCollege">
    <input matInput type="text" name="college"  id="inputCollege" placeholder="Ajouter une université" [(ngModel)]="form.college" required>
  </mat-form-field>
  <mat-form-field *ngIf="addCollege">
    <input matInput type="text" name="city"  id="inputCollege" placeholder="Ville de l'université" [(ngModel)]="form.city" required>
  </mat-form-field>

  <mat-checkbox color="primary" (change)="addNewCollege()">L'université n'existe pas</mat-checkbox>



    <mat-form-field *ngIf="!addDomain">
    <mat-select (selectionChange)="onDomainChange($event)" placeholder="Formation" name="domain" [(ngModel)]="form.domain" required>
      <mat-option *ngFor="let domain of domains" [value]="domain"> {{ domain.name }} </mat-option>
    </mat-select>
  </mat-form-field>
    <mat-form-field *ngIf="addDomain">
    <input matInput type="text" name="domain"  id="inputDomain" placeholder="Ajouter une formation" [(ngModel)]="form.domain" required>
  </mat-form-field>

  <mat-checkbox #checkboxDomain color="primary" (change)="addNewDomain()">La formation n'existe pas</mat-checkbox>


  <mat-form-field *ngIf="!addCourse">
    <mat-select placeholder="Matière" name="course" [(ngModel)]="form.course" required>
      <mat-option *ngFor="let course of courses" value="{{ course.name }}"> {{ course.name }} </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field *ngIf="addCourse" >
    <input matInput type="text" name="course" id="inputCourse" placeholder="Ajouter une matière" [(ngModel)]="form.course" required>
  </mat-form-field>

  <mat-checkbox #checkboxCourse color="primary" (change)="addCourse= !addCourse">La matière n'existe pas</mat-checkbox>



  <mat-form-field>
    <input matInput type="text" name="text"  id="inputText" placeholder="Commentaire" [(ngModel)]="form.text" >
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type de document" name="type" [(ngModel)]="form.type" required>
      <mat-option value="annale">Annale</mat-option>
      <mat-option value="td">TD</mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="inputFileClick()" mat-mini-fab>+</button>
  <span class="file-name" >{{ fileInput?.files[0]?.name }}</span>
  <input accept="image/*,.pdf" hidden name="file" type="file" #fileInput/>

  <button type="submit" [disabled]="!postForm.valid" mat-raised-button>Envoyer</button>

</form>