<mat-card class="example-card card-comment" #comment>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img class="logo-user-card" src="assets/img/man-user.svg">
    </div>
    <mat-card-title><a [routerLink]="['../../profile/']">{{commentUser.forename}} {{commentUser.name}}</a></mat-card-title>
    <mat-card-subtitle>Posté le {{commentDate|date:'dd/MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{commentText}}
    </p>
  <table>
</table>
  </mat-card-content>
  <mat-card-actions>
    <button #dislikeButton mat-button class="float-left like-button" (click)="like('-1')">-</button>
    <span #likeCount >{{like_count}}</span>
    <button #likeButton mat-button (click)="like('1')" class="like-button">+</button>
    <button *ngIf="(commentFile.length !== 0)" mat-button class="float-right"><a target="_blank" href="http://api-study-share.com/storage/upload/{{commentFile[0].name}}">Lien vers le document</a></button>
  </mat-card-actions>
