.sub-title {
    border: 1px solid #4678A5;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #4678A5;
    width: 15vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.table td {
    color : #4678A5;
    width : 15vw;
    border-top: none;
}

.table {
    width : 50vw;
    margin: auto;
}

.comment{
    border: #4678A5 1px solid;
    border-radius: 10px;
    margin-bottom : 10px;
    margin-left: 15vw;
    margin-right: 15vw;
}
.card-comment{
    margin-bottom: 20px;
}
.mat-button{
    color:#4678A5;
}
.like-button{
    color:black;
    font-size:20px;
}
.liked{
    color:#4678A5;
}