<div class="title">
	Nouveau mot de passe
</div>
<form class="form" #ResetPasswordForm=ngForm (ngSubmit)="onSubmit()">
	<div class="input-row">
		<mat-form-field class="example-full-width">
			<input matInput type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="form.email" required>	
		</mat-form-field>
		<div class="text-danger" [hidden]="!error">
		{{ error.email }}
		</div>
	</div>
	<div class="input-row">
		<mat-form-field class="example-full-width">
			<input matInput type="password" name="password" class="form-control" id="inputPassword" placeholder="Mot de passe" [(ngModel)]="form.password" required>
		</mat-form-field>
		<div class="text-danger" [hidden]="!error">
		{{ error.password }}
		</div>
	</div>
	<div class="input-row">
		<mat-form-field class="example-full-width">
			<input matInput type="password" name="password_confirmation" class="form-control" id="inputPasswordConfirmation" placeholder="Confirmer le mot de passe" [(ngModel)]="form.password_confirmation" required>		
		</mat-form-field>
		<div class="text-danger" [hidden]="!error">
		{{ error.password_confirmation }}
		</div>
	</div>

	<div class="input-row">
		<button type="submit" class="btn btn-primary" [disabled]="!ResetPasswordForm.valid" mat-raised-button>Envoyer</button>

	</div>

</form>
