.sub-title {
    border: 1px solid #4678A5;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #4678A5;
    width: 15vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.table td {
    border-color: #4678A5 !important;
    color : #4678A5;
    width : 15vw;
}

table{
    width:100%;
}

.mat-card{
    margin-bottom:20px;
}

.table {
    width : 50vw;
    margin:auto;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}
.stat-big-container{
    margin-left:15vw;
}

.big-chart {
  width: 50%;
  justify-content: space-around ;
}
.little-chart {
  width: 25%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 3s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.blue .circle {
  stroke: #4678A5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
.title-stat{
    color: #4678A5;
    margin-left: 3.3vw;
    font-size: 2vw;
}
.text-score-single{
    float:left;
    text-align: center;
    color:#4678A5;
    margin-right: 2.2vw;
    margin-left: 2.3vw;
    font-size:1.25vw;
}
.text-score-single-last{
    margin-right: 0vw;
}