<div class="table" *ngFor="let user of users.data">
  <div class="title">
    Votre profil
  </div>
  <div class="sub-title">
    Informations
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img class="logo-user-card" src="assets/img/man-user.svg">
      </div>
      <mat-card-title>
        <a [routerLink]="['../../profile/' + user.id]">{{user.forename}} {{user.name}}</a>
      </mat-card-title>
      <mat-card-subtitle>Né le {{user.birth_date|date:'dd/MM/yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <table>
      <tr class="">
        <td>Etablissement : </td>
        <td>{{ user.domain[0].college[0].name }}</td>
      </tr>
      <tr class="">
        <td>Formation : </td>
        <td>{{ user.domain[0].name }}</td>
      </tr>
      <tr class="">
        <td>E-mail : </td>
        <td>{{user.email}}</td>
      </tr>
    </table>
  </mat-card>

  <div class="sub-title">
    Mes stats
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
    </mat-card-header>
    <div class="stat-big-container">
      <div class="big-chart">
        <svg viewBox="0 0 36 36" class="circular-chart blue">
          <path class="circle-bg"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path class="circle"
            stroke-dasharray="100, 100"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <text x="18" y="20.35" class="percentage" [CountTo]="user.score" [from]="0" [duration]="2.5"></text>
        </svg>
      </div>
      <span class="title-stat">Score total</span>
    </div>
    <div class="flex-wrapper">
      <div class="little-chart">
        <svg viewBox="0 0 36 36" class="circular-chart blue">
          <path class="circle-bg"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path class="circle"
            [ngStyle]="{'stroke-dasharray': getPostLike()}"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <text x="18" y="20.35" class="percentage" [CountTo]="user.post_likes" [from]="0" [duration]="2.5"></text>
        </svg>
      </div>
    <div class="little-chart">
        <svg viewBox="0 0 36 36" class="circular-chart blue">
          <path class="circle-bg"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path class="circle"
            [ngStyle]="{'stroke-dasharray': getCommentLike()}"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <text x="18" y="20.35" class="percentage" [CountTo]="user.comment_likes" [from]="0" [duration]="2.5"></text>
        </svg>
      </div>
      <div class="little-chart">
        <svg viewBox="0 0 36 36" class="circular-chart blue">
          <path class="circle-bg"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path class="circle"
            [ngStyle]="{'stroke-dasharray': getPostCount()}"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <text x="18" y="20.35" class="percentage" [CountTo]="user.post_count" [from]="0" [duration]="2.5"></text>
        </svg>
      </div>
      <div class="little-chart">
        <svg viewBox="0 0 36 36" class="circular-chart blue">
          <path class="circle-bg"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path class="circle"
            [ngStyle]="{'stroke-dasharray': getCommentCount()}"
            d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <text x="18" y="20.35" class="percentage" [CountTo]="user.comment_count" [from]="0" [duration]="2.5"></text>
        </svg>
      </div>
    </div>
    <div class="text-score">
      <span class="text-score-single">Publications <p>aimés</p></span>
      <span class="text-score-single">Commentaires <p>aimés</p></span>
      <span class="text-score-single">Publications <p>postés</p></span>
      <span class="text-score-single text-score-single-last">Commentaires <p>postés</p></span>
    </div>
    <table>
    </table>
  </mat-card>
</div>

<div class="sub-title">
  Mes publications
</div>
<app-post-list></app-post-list>

