<div class="title">
	Connectez-vous
</div>
<form class="form" #loginForm=ngForm (ngSubmit)="onSubmit()">
	<div class="text-danger" [hidden]="!error">
		{{ error }}
	</div>

	<div class="input-row">
		<div class="logo-connexion-container">
			<img class="logo-connexion" src="assets/img/man-user.svg">
		</div>
		<mat-form-field class="example-full-width">
    		<input matInput type="email" name="email"  id="inputEmail" placeholder="Email" [(ngModel)]="form.email">
  		</mat-form-field>
	</div>

	<div class="input-row">
		<div class="logo-connexion-container">
			<img class="logo-connexion" src="assets/img/lock.svg">
		</div>

		<mat-form-field class="example-full-width">
			<input matInput type="password" name="password"  id="inputPassword" placeholder="Mot de passe" [(ngModel)]="form.password">
  		</mat-form-field>
	</div>

	<div class="input-row">
		<button type="submit" [disabled]="!loginForm.valid" mat-raised-button>Connexion</button>

	</div>
	<div class="small-text">
		<a routerLink="/request-password-reset" class="small-text">Mot de passe oublié ?</a>	
	</div>
</form>
	<div class="create-account-row">
		<a routerLink="/signup" class="create-account-row">Pas encore de compte ? Inscrivez-vous ici !</a>
	</div>

<!-- <div class="mt-4 col-8 offset-2">
	<div class="card">
		<div class="card-header">Connexion</div>
		<div class="card-body">
			<form #loginForm=ngForm (ngSubmit)="onSubmit()">
				<div class="alert alert-danger" [hidden]="!error">
					{{ error }}
				</div>
				<div class="form-group row">
					<div class="logo-connexion-container">
											<img class="logo-connexion" src="assets/img/man-user.svg">

					</div>
					<div class="col-sm-10 float-right">
						<input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="form.email" required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Mot de passe" [(ngModel)]="form.password" required>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10 offset-2">
						<button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Connexion</button>
						<a routerLink="/signup" class="btn btn-info float-right">Inscription</a>
					</div>
				</div>
				<small class=float-right>
					<a routerLink="/request-password-reset">Mot de passe oublié ?</a>
				</small>
			</form>
		</div>
	</div>
</div> -->