.logo-connexion-container{
	float:left;
	border: 1px solid #4678A5;
	padding:0.5vw;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-right: 20px;

}
mat-form-field{
	width:70%;
}

.create-account-row{
	text-align: center;
	color:#4678A5;
    font-size: 14px;
}
.create-account-row{
	margin-top: 10px;
}
.logo-connexion{
	height:35px
}
.input-connexion{
	float:left;
	background-color:#E2E7EC;
    border: 1px solid #4678A5;
    width:26vw important!;
    height:4.7vw;
    padding:10px;
    border-radius: 0px 5px 5px 0px;
    font-size:1.5vw;
    color:#4678A5;
}
.row-connexion{
	padding:10px;
}
.input-row{
	margin-bottom:10px;
	display:inline-block;
	width:100%;
}
.title{
    width: 350px;
}