<div class="title">
	Récupérer son mot de passe
</div>
<form class="form" #RequestResetForm=ngForm (ngSubmit)="onSubmit()">
	<div class="text-danger" [hidden]="!error">
		{{ error }}
	</div>
	<div class="input-row">
		<mat-form-field class="example-full-width">
			<input matInput type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="form.email" required>  		
		</mat-form-field>
	</div>

	<div class="input-row">
		<button type="submit" class="btn btn-primary" [disabled]="!RequestResetForm.valid" mat-raised-button>Envoyer le mot de passe</button>

	</div>

</form>