.sub-title {
    border: 1px solid #4678A5;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #4678A5;
    width: 15vw;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

table tr {
    color : #4678A5;
    border-top:1px solid #dee2e6;
}
table td {
    border-top:0px solid;
}
table{
    width:100%;
}

.table {
    width : 50vw;
    margin:auto;
}

.mat-button{
    color:#4678A5;
}
.right-table{
    float:right;
}
.mat-mini-fab.mat-accent{
    background-color:#4678A5;
}
.comment-card{
    margin-bottom:20px;
}
.file-name{
    font-size:12px;
    color:#4678A5;
    margin-left:10px;
}
.submit-comment{
    width:100px;
    right:0;
    position:absolute;
    margin-right:10px;
}
.form-comment{
    border-bottom: 1px solid #4678A5;
}
.comment{
    border: #4678A5 1px solid;
    border-radius: 10px;
    margin-bottom : 10px;
    margin-left: 15vw;
    margin-right: 15vw;
}
.card-comment{
    margin-top: 20px;
}
.like-button{
    color:black;
    font-size:20px;
}
.liked{
    color:#4678A5;
}