
<div class="table" *ngFor="let post of posts.data" >
  <div class="title">
    {{post.title}}
  </div>

  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img class="logo-user-card" src="assets/img/man-user.svg">
    </div>
    <mat-card-title><a [routerLink]="['../../profile/' + post.user[0].id]">{{post.user[0].forename}} {{post.user[0].name}}</a></mat-card-title>
    <mat-card-subtitle>Posté le {{post.created_at|date:'dd/MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{post.text}}
    </p>
  <table>
  <tr class="">
    <td>Matière</td>
    <td class="right-table">{{post.course[0].name}}</td>
  </tr>
  <tr class="">
    <td>Formation</td>
    <td class="right-table">{{post.course[0].domain[0].name}}</td>
  </tr>
  <tr class="">
    <td>Etablissement</td>
    <td class="right-table">{{post.course[0].domain[0].college[0].name}}</td>
  </tr>
</table>
  </mat-card-content>
  <mat-card-actions>
    <button #dislikeButton mat-button class="float-left like-button" (click)="like('-1')">-</button>
    <span #likeCount >{{post.like_count}}</span>
    <button #likeButton mat-button (click)="like('1')" class="like-button">+</button>
    <button mat-button class="float-right"><a target="_blank" href="http://api-study-share.com/storage/upload/{{post.file[0].name}}">Lien vers le document</a></button>
  </mat-card-actions>
</mat-card>
  <div class="title">
    Réponses
  </div>
<div class="comment_block" #comment_block>
  <app-comment  *ngFor="let comment of post.comment"
                 [commentText]="comment.text"
                 [commentUser]="comment.user[0]"
                 [commentDate]="comment.created_at"
                 [commentFile]="comment.file"
                 [id]="comment.id"
                 [like_count]="comment.like_count"></app-comment>
</div>
<mat-card class="example-card comment-card">
  <form #commentForm=ngForm  (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="form.text" lass="form-comment" type="text" name="text-comment" #textComment matInput placeholder="Votre commentaire ici..."></textarea>
    </mat-form-field>
    <div class="action-comment">
      <button (click)="inputFileClick()" mat-mini-fab>+</button>
      <span class="file-name" >{{ fileInput?.files[0]?.name }}</span>
      <input accept="image/*,.pdf" hidden name="file" type="file" #fileInput/>
      <button class="submit-comment" type="submit" [disabled]="!commentForm.valid" mat-raised-button>Envoyer</button>
    </div>
  </form>
</mat-card>