<!-- <div class="container">
  <h2>Page principale</h2>
  <nav
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="home">Accueil</a></li>
      <li routerLinkActive="active"><a routerLink="post">Posts</a></li>
      <li routerLinkActive="active"><a routerLink="login">Connexion</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div> -->
<app-navbar></app-navbar>

<div class="conteneur">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>