@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'Salvat Study';
    src: url('assets/fonts/SalvatStudy-Regular.eot');
    src: url('assets/fonts/SalvatStudy-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/SalvatStudy-Regular.woff') format('woff'),
        url('assets/fonts/SalvatStudy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body{
	background-color:#E2E7EC;
}
html{
    height:100%;
}
body{
    min-height:100%;
    position:relative;
}

a{
    color:#4678A5;
}

.title{
	box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-align: center;
    height: 50px;
    line-height: 46px;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #4678A5;
}
/*.ng-invalid:not(form){
	border-left:5px solid red;
}

.ng-valid:not(form){
	border-left:5px solid green;
}*/
.mat-raised-button{
	font-size:14px;
    color:white;
   	background-color:#4678A5;
	width:100%;

}
mat-form-field{
	width:100%;
}
.container {
	padding-right:10vw !important;
	padding-left:10vw !important;
}

.form{
	width:350px;
    border: 2px solid #4678A5;
    border-radius: 20px;
	margin: 0 auto;
    padding:30px;
    box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}
.btn-form{
	width:100%;
	height:40px;
    border: 1px solid #4678A5;
    color:#4678A5;
	background-color:#E2E7EC;
    border-radius: 5px 5px 5px 5px;
    font-size:14px;
}
.text-danger{
	font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.small-text{
	text-align: center;
	color:#4678A5;
    font-size: 12px;
}
.logo-user-card{
    width:53px;
}
.banner-img{
    width: 100%;
}