.main-footer{
    color:white;
    font-size:1vw;
    margin-top: 50px;
    text-align: center;
    background-color: #4678A5;

}

.text-center {
    text-align: center !important;
    background-color: #4678A5;
	color:white;
	font-size:11px;
	
}
.text-uppercase {
    text-transform: uppercase !important;
    font-size: 1.5vw;
    text-align: center;
   
}

element.style {
    right: 0;
    position: absolute;
    width: auto;
}

.row {
    width: 100%;
    background-color: #4678A5;
    padding:10px;
    height:10vw;
}
.content-footer{
    width:49vw;
    padding:1vw;
}
.content-footer-right{
    right: 0;
    position: absolute;
}

.footer-copyright{
    font-size:1vw;
    max-font-size:12px;
}

