<div class="main-footer">

  <div class="row">

    <!-- Grid column -->
    <div class="content-footer">
      <!-- Content -->
      <h5 class="text-uppercase font-weight-bold">Plateforme par les étudiants, pour les étudiants</h5>
      <p>Notre objectif est de répondre aux besoins des étudiants au niveau de la documentation afin de les aider à bien préparer leurs examens.</p>

    </div>
    <!-- Grid column -->

    

    <!-- Grid column -->
    <div class="content-footer content-footer-right">

      <!-- Content -->
      <h5 class="text-uppercase font-weight-bold">Contribuer</h5>
      <p>Vous pouvez nous aider à mieux servir les étudiants et rendre le contenu proposé plus riche en nous envoyant la documentation dont vous disposez à l'adresse email suivante : miage@bordeaux.fr</p>
    </div>
  </div>

    <div class="footer-copyright text-center py-3">Made with ❤ by MIAGE Bordeaux
    </div>
</div>