<div class="title">
	Inscription
</div>
<form class="form" #loginForm=ngForm (ngSubmit)="onSubmit()">

	<div class="input-row-signup">
		<mat-form-field class="example-full-width">
			<input matInput type="email" name="email" id="inputEmail" placeholder="Email" [(ngModel)]="form.email">		
		</mat-form-field>
		<div class="text-danger" [hidden]="!error">
			{{ error.email }}
		</div>
	</div>

	<div class="input-row-signup">
		<mat-form-field class="example-full-width">
			<input matInput type="text" name="name" id="inputName" placeholder="Nom" [(ngModel)]="form.name">
		</mat-form-field>
		<div class="text-danger" [hidden]="!error">
			{{ error.name }}
		</div>
	</div>

	<div class="input-row-signup">
		<mat-form-field class="example-full-width">
			<input matInput type="text" name="forename" id="inputForename" placeholder="Prénom" [(ngModel)]="form.forename">
		</mat-form-field>
		
		<div class="text-danger" [hidden]="!error">
			{{ error.forename }}
		</div>
	</div>

	<div class="input-row-signup">
		

		<mat-form-field>
			<input matInput [matDatepicker]="picker" name="birth_date" id="inputBirthDate" placeholder="Date de naissance" [(ngModel)]="form.birth_date">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<div class="text-danger" [hidden]="!error">
			{{ error.birth_date }}
		</div>
	</div>

	<mat-form-field *ngIf="!addCollege">
		<mat-select  (selectionChange)="onCollegeChange($event)" placeholder="Université/Ecole" name="college" [(ngModel)]="form.college" required>
			<mat-option *ngFor="let college of colleges" [value]="college" > {{ college.name }} </mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field *ngIf="addCollege">
		<input matInput type="text" name="college"  id="inputCollege" placeholder="Ajouter une université" [(ngModel)]="form.college" required>
	</mat-form-field>
	<mat-form-field *ngIf="addCollege">
		<input matInput type="text" name="city"  id="inputCityCollege" placeholder="Ville de l'université" [(ngModel)]="form.city" required>
	</mat-form-field>

	<mat-checkbox color="primary" (change)="addNewCollege()">L'université n'existe pas</mat-checkbox>



	<mat-form-field *ngIf="!addDomain">
		<mat-select placeholder="Formation" name="domain" [(ngModel)]="form.domain" required>
			<mat-option *ngFor="let domain of domains" [value]="domain"> {{ domain.name }} </mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field *ngIf="addDomain">
		<input matInput type="text" name="domain"  id="inputDomain" placeholder="Ajouter une formation" [(ngModel)]="form.domain" required>
	</mat-form-field>

	<mat-checkbox #checkboxDomain color="primary" (change)="addNewDomain()">La formation n'existe pas</mat-checkbox>

	<div class="input-row-signup">

		<mat-form-field class="example-full-width">
			<input matInput type="password" name="password" id="inputPassword" placeholder="Mot de passe" [(ngModel)]="form.password">
		</mat-form-field>
	</div>

	<div class="input-row-signup">
		<mat-form-field class="example-full-width">
			<input matInput type="password" name="password" id="inputPassword" placeholder="Confirmer le mot de passe" [(ngModel)]="form.password_confirmation">
		</mat-form-field>
		<div class="text-danger" [hidden]="!error">
			{{ error.password }}
		</div>
	</div>

	<div class="input-row-signup">
		<button mat-raised-button type="submit" class="btn-form" [disabled]="!loginForm.valid">S'inscrire</button>

	</div>
</form>
<!-- 
<div class="mt-4 col-8 offset-2">
	<div class="card">
		<div class="card-header">Inscription</div>
		<div class="card-body">
			<form #loginForm=ngForm (ngSubmit)="onSubmit()">
				<div class="form-group row">
					<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="form.email" required>
						<div class="alert alert-danger" [hidden]="!error.email">
							{{ error.email }}
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="inputEmail" class="col-sm-2 col-form-label">Nom</label>
					<div class="col-sm-10">
						<input type="text" name="name" class="form-control" id="inputName" placeholder="Nom" [(ngModel)]="form.name" required>
						<div class="alert alert-danger" [hidden]="!error.email">
							{{ error.name }}
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe</label>
					<div class="col-sm-10">
						<input type="password" name="password_confirmation" class="form-control" id="inputPassword" placeholder="Mot de passe" [(ngModel)]="form.password" required>
					</div>
				</div>
				<div class="form-group row">
					<label for="inputPasswordConfirmation" class="col-sm-2 col-form-label">Confirmation</label>
					<div class="col-sm-10">
						<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Mot de passe" [(ngModel)]="form.password_confirmation" required>
						<div class="alert alert-danger" [hidden]="!error.password">
							{{ error.password }}
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10 offset-2">
						<button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">S'inscrire</button>
						<a routerLink="/login" class="btn btn-info float-right">Se connecter</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div> -->