.input-signup{
	float:left;
	background-color:#E2E7EC;
    border: 1px solid #4678A5;
    width:31vw;
    height:3vw;
    padding:10px;
    border-radius: 5px 5px 5px 5px;
    font-size:1.5vw;
    color:#4678A5;
}
.input-row-signup{
	display:inline-block;
	width:100%;
}