<div class="banner-img">
<nav class="navbar navbar-light justify-content-beteen">
	<a class="item-menu"  routerLink="home" *ngIf="loggedIn"><button routerLinkActive="active" mat-button>Accueil</button></a>
	<a class="item-menu" [routerLink]="['profile/'+id]" *ngIf="loggedIn"><button routerLinkActive="active" mat-button>Profil</button></a>
	<a class="item-menu" [routerLink]="['add-post']" *ngIf="loggedIn"><button routerLinkActive="active" mat-button>Ajouter document</button></a>
	<a class="item-menu" href="#" (click)="logout($event)" ><button class="logout" routerLinkActive="active" mat-button *ngIf="loggedIn"><img class="logout-icon" src="assets/img/logout.svg"></button></a>
</nav>
</div>
