.navbar{
	padding:0;
	display:block;
	width:100%;
	position:absolute;
	bottom:0;
	background-color: rgba(0, 0, 0, 0.4);
}
.title-header{
	font-family: 'Salvat Study';
	color:white;
	font-size:80px;
	text-align: center;
	width:100%;
    line-height: 110px;
    position: absolute;
    float:left;
}
.slogan-header{
	color: white;
    right: 0;
    position: absolute;
    top: 0;
    padding: 11px;
    font-family: 'Salvat Study';
    font-size: 33px;
    margin-top:35px;
    padding:20px;
}
.banner-block{
	background-color: #4678A5;
	height:105px;
}
.banner-logo-left{
    margin-left: 30px;
    width: 135px;
    float: left;
    position: absolute;
    margin-top: 7px;
}
.banner-logo-right{
    width: 90px;
    margin-right: 50px;
    right: 0;
    position: absolute;
    margin-top: 15px;
}

.item-menu{
	color:white;
	text-decoration: none;
}
.active{
	background-color:#3d6b91;
}
.mat-button{
	width:23vw;
	font-size:1.6vw;
	padding:0;
}
@media screen and (min-width: 1200px) {
	.mat-button{
		width:250px;
		font-size:16px;
	}
}
.logout{
	width:5vw !important;
	float:right;
}
.mat-button:hover{
	background-color:#3d6b91;
}
.logout-icon{
    width: 2.5vw;
    max-width: 25px;
}
.banner-img{
	background:url('/assets/img/banner.png');
	padding-top: 24vw;
    background-size: 100vw;
    position: relative;
}
.comment_block{
	margin-bottom:20px;
}
